@page "/addDesign-Label"
@inject iDesignService designService
@inject IProductService productService
@inject ICustomerService customerService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h2>Add Label Design</h2>
<RadzenLabel Text="Design #" />
<RadzenTextBox @bind-Value="_designID" Style="display: block"></RadzenTextBox>
<br />
<RadzenCard Text="Product">
    <RadzenText TextStyle="Radzen.Blazor.TextStyle.Subtitle1" TagName="Radzen.Blazor.TagName.H1" Text="Product"></RadzenText><br />
    <RadzenLabel Text="Item" /><br />
    <RadzenDropDown Name="products" Style="width: 300px" @bind-Value=@productValue Data=@_productNames></RadzenDropDown><br /><br />
    <RadzenLabel Text="Color" /><br />
    <RadzenDropDown Style="width: 300px" TValue="dynamic"></RadzenDropDown><br /><br />
    <RadzenLabel Text="Hold" /><br />
    <RadzenCheckBox TValue="bool"></RadzenCheckBox><br /><br />
    <RadzenLabel Text="Notes" /><br />
    <RadzenTextBox Style="width: 500px"></RadzenTextBox>
</RadzenCard>

<br />

<RadzenCard Text="Customer">
    <RadzenText TextStyle="Radzen.Blazor.TextStyle.Subtitle1" TagName="Radzen.Blazor.TagName.H1" Text="Customer"></RadzenText><br />
    <RadzenDropDown Name="customers" Style="width: 300px" @bind-Value=@customerValue Data=@_customerNames></RadzenDropDown><br /><br />
    <RadzenRadioButtonList TValue="int" Orientation="Radzen.Orientation.Vertical">
        <Items>
            <RadzenRadioButtonListItem Text="Topside" Value="1" />
            <RadzenRadioButtonListItem Text="Underside" Value="2" />
        </Items>
    </RadzenRadioButtonList><br/>
    <RadzenLabel Text="Machine" />
</RadzenCard>

<hr />


@code {
    IList<Design>? _design;
    IList<Product>? _products;
    IList<Customer>? _customers;
    IEnumerable<string>? _productNames;
    IEnumerable<string>? _productColors;
    IEnumerable<string>? _customerNames;

    string _nextID;
    string _designID;
    string productValue = "Select Product";
    string customerValue = "Select Customer";

    protected override async Task OnInitializedAsync()
    {
        _nextID = await designService.GetNextId();
        _designID = "L-" + _nextID.ToString();

        //Populate the Product Section
        _products = await productService.ListAll();
        _productNames = _products.Select(c => c.ProductName);

        //Populate the Customer Section
        _customers = await customerService.ListAll();
        _customerNames = _customers.Select(c => c.CustomerName);
    }
}
