@page "/addDesign"
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h2>Add Design</h2>
<RadzenLabel Text="Design #" />
<RadzenTextBox Style="display: block"></RadzenTextBox>
<br />
<RadzenPanel Text="Customer">
    <RadzenLabel Text="Customer" />
    <RadzenTextBox></RadzenTextBox><br/>
    <RadzenLabel Text="User 1" />
    <RadzenTextBox></RadzenTextBox><br/>
    <RadzenLabel Text="User 2" />
    <RadzenTextBox></RadzenTextBox>
</RadzenPanel>

@code {

}
