@page "/designs"
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h2>Designs</h2>

<hr/>

<div>
    <RadzenButton Click="@AddLabelDesignClicked" Text="Add New Label Design" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
    <RadzenButton Click="@AddPrintDesignClicked" Text="Add New Print Design" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
</div>


@code {
    void AddLabelDesignClicked()
    {
        navigationManager.NavigateTo("/AddDesign-Label");
    }

    void AddPrintDesignClicked()
    {
        navigationManager.NavigateTo("/AddDesign-Print");
    }
}
