@page "/"
<PageTitle>Print Shop Designs</PageTitle>
<div class="row pt-5 px-5">
    <div class="col-12">
        <RadzenText Text="Willkommen bei Ihrer neuen Print Shop Designs Anwendung, Jeff!" TextStyle="Radzen.Blazor.TextStyle.DisplayH3" TagName="Radzen.Blazor.TagName.Auto"></RadzenText>
    </div>
</div>

